/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*-----------
 Common Style 
 ------------*/
body{
    font-family: 'Poppins', sans-serif;
}
header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    margin-top: 130px;
}
/*-----------
 Banner Style
 -----------*/
.banner-container{
    background-color: #161616;
    border-radius: 30px;
    width: 1321px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.banner-info{
    margin: 111px 24px 111px 106px;
}
.banner-info h3{ 
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    color: #FFFFFF;
}
.banner-info p{ 
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0 0 0;
    color: #FFFFFF;
}
.banner-info a{ 
    display: flex;
    width: 187px;
    height: 56px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    margin: 30px 0 0 0;
    background-color: #DD0000;
    border-radius: 5px;
    gap: 10px;
    text-decoration: none;
    color: #FFFFFF;
}
.banner-info a:hover{
    background-color: #FFFFFF;
    color: #DD0000;
}
.banner-img{
    margin-top: 111px;
}
/*----------------
  Navigation Style
  ----------------*/
.container{
    row-gap: 20px;
    display: grid;
    grid-template-columns: .5fr 3fr;
}
nav{
    display: flex;
}
.nav-container{
    background-color: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
}
.btn {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 252px;
    height: 64px;
    margin: 30px;
}
.btn.red{
    background-color: #DD0000;
}
.btn.red a{
    color: #FFFFFF;
}
.btn a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #161616;
}
/*-----------------------
  Blogs and Matches Style
  -----------------------*/
.blogs, .matches {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.blog{
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    width: 312px;
    height: 362px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.match{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    width: 312px;
    height: 242px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.details{
    margin-left: 10px;
    margin-top: 10px;
}
.details a{
    color: #161616;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid;
}
.info{
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

/* ------------
   Footer Style
   ------------ */
footer{
    right: 0;
    left: 0;
    background-color: #161616;
    width: 100%;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h4{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
}
hr{
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-nav{
    margin-top: 30px;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
}
.social-icon{
    margin-top: 70px;
    font-size: 40px;
}

/* ------------
   Media Queries
   ------------ */
/* Mobile View */
@media screen and (max-width: 688px) {
    .banner-container{
        background-color: #161616;
        border-radius: 10px;
        width: 100%;
    }
    .banner, .container, .blogs, .matches{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .banner-info{
        margin: 0;
    }
    .banner-info h3{ 
        font-weight: 700;
        font-size: 22px;
        margin-top: 28px;
        color: #FFFFFF;
    }
    .banner-info p{ 
        font-weight: 400;
        font-size: 14px;
        margin-top: 8px;
        color: #FFFFFF;
    }
    .banner-info a{ 
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-weight: 400;
        font-size: 20px;
        margin-top: 16px;
        padding: 10px;
        background-color: #DD0000;
        color: #FFFFFF;
        border-radius: 5px;
    }
    .banner-info a:hover{
        background-color: #FFFFFF;
        color: #DD0000;
    }
    .banner-img{
        margin: 0;
    }
    main{
        margin-top: 20px;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    .nav-container{
        background-color: #FFFFFF;
    }
    .btn{
        border: 1px solid #e8e8e8;
    }
    .footer-nav{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .footer-nav a{
        text-align: center;
        padding: 0;
    }
    .social-icon{
        margin-top: 20px;
    }
}
/* Tab View */
@media screen and (min-width: 688px) and (max-width: 992px) {
    .banner-container{
        background-color: #161616;
        border-radius: 10px;
        width: 100%;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .banner, .blogs, .matches{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .banner-info{
        margin: 61px 2px 61px 78px;
    }
    .banner-info h3{ 
        font-weight: 700;
        font-size: 40px;
        margin-top: 28px;
        color: #FFFFFF;
    }
    .banner-info p{ 
        font-weight: 400;
        font-size: 14px;
        margin-top: 8px;
        color: #FFFFFF;
    }
    .banner-info a{ 
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-weight: 400;
        font-size: 20px;
        margin-top: 16px;
        padding: 10px;
        background-color: #DD0000;
        color: #FFFFFF;
        border-radius: 5px;
    }
    .banner-info a:hover{
        background-color: #FFFFFF;
        color: #DD0000;
    }
    .banner-img{
        margin: 0;
    }
    main{
        margin-top: 20px;
    }
    nav{
        display: flex;
        align-items: center;
    }
    .nav-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background-color: #FFFFFF;
        width: 700px;
        height: 100px;
    }
    .btn{
        width: 230px;
        border: 1px solid #e8e8e8;
        margin: 5px;
    }
    .btn.red{
        width: 230px;
        margin: 5px;
    }
    .footer-nav{
        text-align: center;
    }
}